body {
    background-color: black;
}

.nav-bar-main {
    display: flex;
    flex-direction: row;
    position:fixed;
    left:0;
    right:0;
    padding: 40px 60px;
}


/*chris-header start*/

.chris-header-title {
    text-decoration: none;
}

.chris-span-title {
color:white;
font-size: 28px;
font-weight: bold;
}

.chris-span-dot {
    color:red;
    font-size: 28px;
    font-weight: bold;
}

/*chris-header-end*/

/*menu-main start*/

.main-menu {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    align-items: center;
}

.home, .contact, .about-me, .services {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}
.home:hover, .contact:hover, .about-me:hover, .services:hover {
    color: red;
}

/*menu-main end*/

/*phone-number start*/

.phone-number-main {
    align-items: center;
    display: flex;
}

.number {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/*phone-number end*/

/*left border line and social media start*/

.menu-bar-line-social-media {
    position: fixed;
    padding-top: 100px;
    padding-left: 60px;
}

.left-line {
    border-left: 1px solid white;
    height: 270px;
    margin-left: 5px;
}

.social-media-main {
    display: flex;
    flex-direction: column;

}

.fa-facebook-f ,.fa-twitter ,.fa-instagram {
    color: white;
    margin-top: 40px;
    font-size: 21px;
}
.fa-facebook-f:hover ,.fa-twitter:hover ,.fa-instagram:hover {
    color: #cf000f;
}

.left-line-2 {
    border-left: 1px solid white;
    height:270px;
    margin-left: 5px;
    margin-top: 40px;
}

.chris-copyright {
margin-top: 40px;
}

.copy-chris {
color:white;
font-size: 15px;
font-weight: 400;
}

.year-2021 {
color:red;
font-size: 15px;
font-weight: 400;
}

/*left border line and social media end*/

/*home page body start*/

.main-container {
    margin: 0 auto;
    width: 1140px;
    padding-top: 330px;
}

.software-eng-title {
    color:white;
    font-size: 25px;
    letter-spacing: 3.2px;
}


.chris-span-title-text {
    color:white;
font-size: 120px;
font-weight: bold;

}
.chris-span-dot-text {
    color:red;
    font-size: 120px;
    font-weight: bold;
}
.quote {
    color:white;
    letter-spacing: 2px;
    font-size:23px
}


/*home page body start*/


/*about me container start*/

.about-me-main-container {
    padding-top: 390px;
    margin: 0 auto;
    width: 1140px;
}
.image-info-main {
    display: flex;
    flex-direction: row;
    margin-top:200px;
}

.about-me-main {
    margin-left: 100px;
}
.about-me-title {
    color:white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.box-hi-there {
    border: 3px solid white;
    width: 161px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.box-title {
    font-size: 24px;
    color:white;
    font-weight: 400;
}
.image-chris {
    width: 433px;
    height: 499px;
}

.description {
    color:white;
    font-size: 16px;
    letter-spacing: 2px ;
    margin-top: 30px;
}

.desc-info-main {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.email-main {
    margin-left: 100px;
}


.desc-name {
color:orange;
font-size: 16px;
letter-spacing: 2px;
}

.phone-title {
    color:orange;
font-size: 16px;
letter-spacing: 2px;
margin-top:30px;
}

.desc-email {
    color:orange;
font-size: 16px;
letter-spacing: 2px;
}

.desc-twitter {
    color:orange;
font-size: 16px;
letter-spacing: 2px;
margin-top:30px;
}

.desc-title {
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.phone-desc {
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.desc-email-info {
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.desc-twitter-info {
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}
/*about me container end*/